*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
padding:20px;
}

.container{
width:100%;
max-width:430px;
}

.card{
background:rgba(255,255,255,.18);
backdrop-filter:blur(18px);
border-radius:30px;
padding:30px;
box-shadow:0 15px 35px rgba(0,0,0,.25);
color:#fff;
}

h1{
text-align:center;
font-size:40px;
margin-bottom:25px;
font-weight:700;
}

.search{
display:flex;
gap:10px;
margin-bottom:20px;
}

.search input{
flex:1;
padding:16px;
border:none;
border-radius:18px;
font-size:18px;
outline:none;
}

.search button{
width:65px;
border:none;
border-radius:18px;
background:#fff;
cursor:pointer;
font-size:22px;
}

.location{
width:100%;
padding:16px;
border:none;
border-radius:18px;
background:#22b14c;
color:#fff;
font-size:20px;
cursor:pointer;
margin-bottom:25px;
}

#result{
text-align:center;
margin-top:20px;
}

#result h2{
font-size:34px;
margin-bottom:10px;
}

#result h3{
font-size:26px;
margin-bottom:20px;
}

.weather-icon{
width:120px;
margin:15px auto;
display:block;
}

.temp{
font-size:70px;
font-weight:bold;
margin:10px 0;
}

.details{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:25px;
}

.box{
background:rgba(255,255,255,.18);
padding:15px;
border-radius:18px;
font-size:17px;
}
